<header class="header">
  <div class="header__wrapper container">
    <div class="header__logo">
      <div class="header__logo-image"></div>
      <div class="header__logo-text">questduck</div>
    </div>
    <div class="header__action-list-wrapper">
<!--      <div class="header__change-theme-button">-->
<!--        <i class="icon-dark-theme"></i>-->
<!--      </div>-->
      <div class="header__actions-list">
        <button [class.button--burger-active]="isOpenHeaderMenu" class="button button--square button--primary button--burger" (click)="openHeaderMenu()">
          <i class="icon-burger"></i>
        </button>
        <ul *ngIf="isOpenHeaderMenu">
          <li>FAQ</li>
          <li>Правила</li>
          <li>Войти</li>
        </ul>
      </div>
    </div>
  </div>
</header>
