<form class="form form--login" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Войти в панель администратора</h2>
  <div class="form-control">
    <label for="email">Email</label>
    <input id='email' type="email" formControlName="email">
    <div
      *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
      class="validation"
    >
      <small> Ошибка</small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Пароль</label>
    <input id='password' type="password" formControlName="password">
    <div
      *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
      class="validation"
    >
      <small> Ошибка</small>
    </div>
  </div>

  <button
    class="form__submit-button"
    [disabled]="form.invalid || submitted">
    Войти
  </button>
</form>
