<form class="form form--login form--center" [formGroup]="form" (ngSubmit)="submit()">
  <div class="form__title">Войти</div>
  <div class="form__wrapper">
    <div class="form__control">
      <label for="email" class="form__group-label">Email</label>
      <input id='email' type="email" formControlName="email" placeholder="Введите email...">
      <div *ngIf="form.get('email')?.invalid &&
                  form.get('email')?.touched &&
                  form.get('email')?.errors?.['email']"
           class="form__massage-error">
        Введите корректный email
      </div>
      <div *ngIf="form.get('email')?.invalid &&
                  form.get('email')?.touched &&
                  form.get('email')?.errors?.['required']"
           class="form__massage-error">
        Поле не может быть пустым
      </div>
    </div>

    <div class="form__control">
      <label for="password" class="form__group-label">Пароль</label>
      <input id='password' type="password" formControlName="password" placeholder="Введите пароль...">
      <div *ngIf="form.get('password')?.invalid &&
                  form.get('password')?.touched &&
                  form.get('password')?.errors?.['required']"
           class="form__massage-error">
        Поле не может быть пустым
      </div>
      <div *ngIf="form.get('password')?.invalid &&
                  form.get('password')?.touched &&
                  form.get('password')?.errors?.['minlength']"
           class="form__massage-error">
        Пароль должен состоять минимум из {{ form.get('password')?.errors?.['minlength']['requiredLength'] }} символов
      </div>
    </div>
  </div>

  <div class="form__buttons">
    <button
      class="button button--primary"
      [disabled]="form.invalid || submitted">
      Войти
    </button>
  </div>
</form>
