<button
  [routerLink]="['']"
  class="back-button">На главную</button>

<div class="quiz">
  <div class="quiz__name"></div>
  <div class="quiz__description"></div>
  <div class="quiz__questions">
    <div class="quiz__question">
      <div class="quiz__question-number-name">Вопрос №1</div>
      <div class="quiz__question-description"> Сколько будет 2+2</div>
      <div class="quiz__question-clue">Получить подсказку</div>
      <div class="quiz__question-answer-input-wrapper">
        <input type="text" placeholder="Введите ответ">
        <button class="quiz__question-check-answer">Проверить ответ</button>
      </div>
    </div>

    <div class="quiz__question">
      <div class="quiz__question-number-name">Вопрос №2</div>
      <div class="quiz__question-description"> Сколько будет 2+2</div>
      <div class="quiz__question-clue">Получить подсказку</div>
      <div class="quiz__question-answer-input-wrapper">
        <input type="text" placeholder="Введите ответ">
        <button class="quiz__question-check-answer">Проверить ответ</button>
      </div>
    </div>
  </div>
</div>
