<div class="rules container container--spacing-bottom">
  <div class="heading heading--component heading--center">Правила / Информация</div>
  <div class="rules__list">
    <div number-question="1." class="rules__list-option">Реестр не влияет на ваш ответ</div>
    <div number-question="2." class="rules__list-option">Для некоторых вопросов вы можете использовать подсказки</div>
    <div number-question="3." class="rules__list-option">В правом нижнем углу вы можете видеть прогресс квиза, при нажатии на который Вас перенаправит на неотвеченный вопрос</div>
    <div number-question="4." class="rules__list-option">При невозможности решения квиза, обратитесь к автору за подсказкой</div>
  </div>
</div>
